html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #344A82;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

text {
  font: 10px sans-serif;
}

.chart-title {
  padding-left: 30px;
}
.chart-title .primary {
  padding-top: 15px;
}

#top-container {
  color: #D8D8D8;
  font-size: 18px;
  letter-spacing: 7px;
  padding-left: 30px;
}

.logo {
  display: inline-block;
  fill: none;
  position: relative;
}
.logo.app-name {
  padding-left: 60px;
}
.logo svg {
  position: absolute;
  top: -42px;
}

#middle-container {
  margin: 58px 0 30px 0;
  padding: 30px;
  min-height: 267px;
}
.section-title {
  color: #9B9B9B;
  font-size: 14px;
  letter-spacing: 5px;
  padding-top: 10px;
}
tr:nth-child(2n):not(:last-of-type) .section-title {
  padding-bottom: 40px;
}

.efficient-beam {
  margin-right: 30px;
}
.primary {
  color: #344A82;
  font-size: 20px;
  letter-spacing: 5px;
}
.secondary {
  color: #9B9B9B;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 10px;
}

#middle-container,
#bottom-container,
#middle-row,
#bottom-row {
  background-color: #E2E7EF;
}

#middle-container,
#bottom-container {
  border-radius: 4px;
  box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.50);
}

#middle-row {
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 10px 0 RGBA(0, 0, 0, 0.50);
}
#middle-row svg {
  vertical-align: bottom;
}

#bottom-row {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0px 10px -10px RGBA(0, 0, 0, 0.50);
}

#top-row {
  margin-bottom: 20px;
  margin-left: 20px;
}

#right-column {
  padding: 60px 30px 30px 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.axis.label,
.axis text {
  letter-spacing: 1px;
  fill: #9B9B9B;
  font-size: 10px;
  font-weight: 100;
}

.voronoi {
  fill: none;
  stroke: pink;
  stroke-opacity: 0;
  pointer-events: all;
}

path.beam--hover {
  stroke: #344A82;
  stroke-width: 6px;
  stroke-opacity: 1;
}

.bar {
  fill: #344A82;
}

.w-group.m {
  fill: none;
  stroke-width: 1px;
  stroke: #878B9B;
}

.w-group.I {
  fill: none;
  stroke-width: 1px;
}

/*AXES */
.y.axis.moment {
  text-anchor: start;
}
/*Hide the axis*/
#bottom-container .x.axis path {
  stroke: none;
}
#bottom-container .x.axis line {
  stroke: none;
  /*opacity: 0.4;*/
}

/*minimap*/
#bottom-row .axis line {
  stroke-width: 1;
  stroke: #878B9B;
  /* stroke-dasharray: 2; */
}

/*hide the horizontal line of x axis*/
#bottom-row .x.axis .domain {
  stroke: none;
}

input {
  width: 100px;
}

#left-column,
#right-column {
  display: inline-block;
  vertical-align: top;
}

#left-column {
  width: 570px;
  padding: 60px 30px 30px 30px;
}

#right-column {
  width: calc(100% - 576px);
}

/*INPUTS FOR VIS*/
.inputs-title {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.input-container {
  display: inline-block;
  width: 154px;
}

.input-container .label {
  color: #878B9B;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.input-container .input-item{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  width: 100%;
}
.input-container input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input::-webkit-input-placeholder {
  color: white;
}
