html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #344A82;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

text {
  font: 10px sans-serif;
}

#top-container,
#bottom-container {
  border: 1px dotted #D8D8D8;
}

#top-container {
  color: #D8D8D8;
  font-size: 18px;
  letter-spacing: 7px;
  padding-left: 30px;
}

#middle-container {
  box-shadow: 5px 5px 30px RGBA(0,0,0,0.50);
  margin: 30px 0;
  padding: 40px 30px;

}
.section-title {
  color: white;
  font-size: 14px;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
tr:not(:first-of-type) .section-title {
  padding-top: 40px;
}

.efficient-beam {
  margin-right: 30px;
}
.primary {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
}
.secondary {
  color: #878B9B;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 10px;
}

#bottom-container {
  box-shadow: 0 0 5px 0px RGBA(0,0,0,0.50);
}

#bottom-container,
#middle-row,
#bottom-row {
  background-color: #E2E7EF;
}

#right-column {
  padding: 60px 30px 30px 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.voronoi {
  fill: none;
  stroke: pink;
  stroke-opacity: 0;
  pointer-events: all;
}

path.beam--hover {
  stroke: #2AC8E7;
  stroke-width: 6px;
  stroke-opacity: 1;
}

.bar {
  fill: #2AC8E7;
}

.w-group.m {
  fill: none;
  stroke-width: 1px;
  stroke: gray;
}

.w-group.I {
  fill: none;
  stroke-width: 1px;
}


/*AXES */
  /*Hide the axis*/
  #bottom-container .x.axis path {
    stroke: none;
  }
  #bottom-container .x.axis line {
    stroke: none;
    /*opacity: 0.4;*/
  }

  /*minimap*/
  #bottom-row .x.axis .tick {
    stroke-width: 1px;
    stroke-dasharray: 2;
  }
  /*hide the horizontal line of x axis*/
  #bottom-row .x.axis .domain {
    stroke: none;
  }

input {
  width: 100px;
}

#left-column,
#right-column {
  display: inline-block;
  vertical-align: top;
}

#left-column {
  width: 540px;
  padding: 60px 30px 30px 30px;
}

#right-column {
  width: calc(100% - 546px);
}

/*INPUTS FOR VIS*/
.header-container,
.input-container {
  display: inline-block;
  padding: 0 10px;
  width: 28%;
  /*max-width: 140px;*/
}
.filter-category .input-container .min{
  text-align: right;
}
.filter-category .input-container .max{
  text-align: left;
}

.input-container .input-item{
  width: 100%;
  font-size: 32px;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
}
.input-container input:focus {
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input::-webkit-input-placeholder {
  color: black;
}
