/*Color pallett inspired by */
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font: 10px sans-serif;
  margin: 0;
  background-color: #26323C;
  color: #FEFFFF;
}

#nav-bar {
  height: 40px;
  background: #FEFFFF;
  padding: 20px 20px 60px 20px;
  font-size: 24px;
  color: #20B7C4;
}

.link {
  vertical-align: top;
  font-size: 14px;
  text-decoration: none;
  color: #9AAAAE;
}

.link.about {
  float: right;
}
.link:visited {color: #9AAAAE;}
.link:hover {color: #20B7C4;}
.link:active {color: #9AAAAE;}

.btn {
  position: absolute;
  text-decoration: none;
  background-color: crimson;
  color: #FEFFFF;
  padding: 2px 6px 2px 6px;
}

#top-container,
#middle-container,
#bottom-container,
#bottom-row {
  border: 1px solid RGBA(100, 100, 255, 0.5);
}

text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bottom-container .axis.x path {
  stroke: none;
}

#bottom-right .axis path {
  stroke: none;
}
#bottom-right .axis.y .tick {
  fill-opacity: 0.40;
  stroke-opacity: 0.40;
}

.voronoi {
  fill: none;
  stroke: pink;
  stroke-opacity: 0;
  pointer-events: all;
}

path.beam--hover {
  stroke: crimson;
  stroke-width: 6px;
  stroke-opacity: 1;
}

.bar {
  fill: crimson;
}

.w-group.m {
  fill: none;
  stroke-width: 1px;
  stroke: gray;
}

.w-group.I {
  fill: none;
  stroke-width: 1px;
}

input {
  width: 100px;
}


#left-column,
#right-column {
  float: left;
  vertical-align: top;
  border: 1px solid RGBA(184, 103, 130, 0.5);
  background-color: #26323C;
}
.covers {
  fill: #26323C;
}

#left-column {
  width: 30%;
}

#right-column {
  width: 70%;
}


#top-container {
  background-color: #374049;
  padding: 10px 20px;
  border-radius: 0 0 40px 0;
}

.header-container {
  display: inline-block;
  width: 36%;
  vertical-align: top;
}

h2 {
  margin: 0;
  color: #08A5A3;
}
h2 .units {
  font-size: 10px;
  vertical-align: top;
}

.header-container p {
  font-size: 9px;
}

#match-list-table {
  width: 100%;
}
#match-list-table td {
  padding: 2px;
}
#match-list-table .efficient-beam {
  text-align: center;
}
#match-list-table .primary {
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  background-color: crimson;
  box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  font-size: 14px;
}
#match-list-table .secondary {
  padding: 5px;
  background-color: gray;
  border-radius: 0 0 10px 10px;
  letter-spacing: 2px;
  box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  font-size: 12px;
}

#match-list-table .best-beam .primary {
  padding: 10px 25px;
  font-size: 18px;
}
#match-list-table .best-beam .secondary {
  padding: 10px;
  font-size: 14px;
}




/*inputs credit http://codepen.io/tutsplus/pen/epYVoj*/
.input-container {
  vertical-align: top;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 28%;
  max-width: 140px;
}

.input-container.first {
  margin-right: 20px;
}

.input-container .material-input {
  position: relative;
}
.input-container .material-input input {
  background-color: transparent;
}
.input-container .material-input label {
  color: #999;
  font-size: 13px;
  position: absolute;
  pointer-events: none;
  top: 10px;
  transition: 0.2s ease all;
  width: 100%;
}
.input-container .material-input input:not([type]),
.input-container .material-input input[type=text],
.input-container .material-input input[type=number] {
  color: #333;
  font-size: 13px;
  padding: 10px 10px 10px 0;
  position: relative;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d5d5d5;
}
.input-container .material-input input:not([type]):focus,
.input-container .material-input input[type=text]:focus,
.input-container .material-input input[type=number]:focus {
  outline: none;
}
.input-container .material-input input:not([type]):focus + label,
.input-container .material-input input[type=text]:focus + label,
.input-container .material-input input[type=number]:focus + label,
.input-container .material-input input:not([type]):valid + label,
.input-container .material-input input[type=text]:valid + label,
.input-container .material-input input[type=number]:valid + label {
  top: -10px;
  font-size: 10px;
  color: #42b68a;
}
.input-container .material-input input:not([type]):focus ~ .bar:before,
.input-container .material-input input[type=text]:focus ~ .bar:before,
.input-container .material-input input[type=number]:focus ~ .bar:before,
.input-container .material-input input:not([type]):focus ~ .bar:after,
.input-container .material-input input[type=text]:focus ~ .bar:after,
.input-container .material-input input[type=number]:focus ~ .bar:after,
.input-container .material-input input:not([type]):valid ~ .bar:before,
.input-container .material-input input[type=text]:valid ~ .bar:before,
.input-container .material-input input[type=number]:valid ~ .bar:before,
.input-container .material-input input:not([type]):valid ~ .bar:after,
.input-container .material-input input[type=text]:valid ~ .bar:after,
.input-container .material-input input[type=number]:valid ~ .bar:after {
  width: 50%;
  background: #42b68a;
  border-bottom: 0px;
}
.input-container .material-input .bar {
  position: relative;
  display: block;
  width: 100%;
}
.input-container .material-input .bar:before,
.input-container .material-input .bar:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0.5px;
  background: #42b68a;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-container .material-input .bar:before {
  left: 50%;
}
.input-container .material-input .bar:after {
  right: 50%;
}
.input-container .material-input .bar + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -moz-transition: 0.2s opacity ease-out, 0.2s color ease-out;
  -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
}
